<div class="panel panel-narrow">
  <h1>Log in</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <label class="field">
      Username
      <input type="text" formControlName="username" name="username" autocomplete="username" />
    </label>

    <label class="field">
      Password
      <input type="password" formControlName="password" name="password" autocomplete="current-password" />
    </label>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Log in</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>

  <p class="form-footer"><a routerLink="/forgot-password">Forgot password?</a></p>
</div>
