<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!succeeded">
  <label>
    Reset token
    <input type="text" formControlName="token" name="token" />
  </label>

  <label>
    New password
    <input type="password" formControlName="newPassword" name="newPassword" />
  </label>

  <button type="submit" [disabled]="form.invalid">Reset password</button>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</form>

<p *ngIf="succeeded" class="success">Your password has been reset. You can now log in.</p>
